html{ width: 100%}

body {
  width: 100%;
  min-height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}
img {
  width: 100%;
  height: auto;
}

a{ 
  cursor: pointer;
  text-decoration: none;
}

.clearfix{
  &:after{
    clear: both;
    display: table;
    content: '';
  }
}

#web-container{
  position: relative;
  width: 100%;
}

#page-wrap{
  width: 100%;
  padding: 0 20px;
}